<template>
  <v-container fluid>
    <v-navigation-drawer
      v-model="drawer"
      app
    >
      <v-list dense>
        <v-list-item link>
          <v-list-item-action>
            <v-btn
              color="green"
              fab
              @click="onClientes"
            >
              <v-icon>mdi-calendar-month-outline</v-icon>
            </v-btn>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title>Reservas</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-action>
            <v-btn
              color="green"
              fab
              @click="onLogsoc"
            >
              <v-icon>mdi-registered-trademark</v-icon>
            </v-btn>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Registrá tu negocio</v-list-item-title>
          </v-list-item-content>

        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="green"
      dark
      loading
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"> </v-app-bar-nav-icon>
      <v-toolbar-title>
        <router-link to="/">
          <v-img
            src="@/assets/logo.png"
            height="90"
            max-width="350"
            contain
            position="left"
          />
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <tsearch></tsearch>
      </v-toolbar-items>
      <v-btn
        v-for="icon in icons"
        :key="icon"
        class="mx-4"
        dark
        icon
      >
        <v-icon size="24px">{{ icon }}</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <div class="my-2">
        <v-btn
          color="dark"
          fab
          dark
          @click="onLogin"
        >
          <v-icon>mdi-account-circle</v-icon>
        </v-btn>

      </div>

    </v-app-bar>

  </v-container>

</template>

<script>
import tsearch from "@/components/tsearch"

export default {
  name: 'barinicio',
  components: {
    tsearch,

  },
  data: () => ({
    icons: [
      'mdi-facebook',
      'mdi-twitter',
      'mdi-linkedin',
      'mdi-instagram',
    ],
    drawer: null,
  }),
  methods: {

    onLogin () {
      // eslint-disable-next-line no-console
      console.log(['onLogin()'])
      this.$router.push({ name: "luser" })
        .catch(() => { })
    },
    onClientes () {
      // eslint-disable-next-line no-console
      console.log(['onClientes()'])
      this.$router.push({ name: "clientes" })
        .catch(() => { })
    },
    onLogsoc () {
      // eslint-disable-next-line no-console
      console.log(['onLogsoc()'])
      this.$router.push({ name: "loginsoc" })
        .catch(() => { })
    },

    onClickDrawerRight () {
      this.$emit('clickDrawerRight')
    }

  },
}
</script>