<template>
  <v-container>
    <v-row>
      <v-date-picker
        v-model="date"
        @click:date="dialog=true"
        locale="es-ar"
        full-width
        :landscape="$vuetify.breakpoint.smAndUp"
        class="mt-4"
        color="green"
      ></v-date-picker>
      <v-dialog
        v-model="dialog"
        persistent
        max-width="600px"
      >
        <v-card>
          <v-card-title>
            <v-img
              src="@/assets/logo.png"
              height="90"
              max-width="350"
              contain
              position="left"
            />
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                >
                  <v-text-field
                    v-model="name"
                    :rules="nameRules"
                    label="Nombre*"
                    required
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                >
                  <v-text-field
                    v-model="lastname"
                    :rules="lastnameRules"
                    label="Apellido*"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="Email*"
                    required
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                >
                  <v-select
                    v-model="select"
                    :items="items"
                    :rules="[v => !!v || 'Requerido']"
                    label="Horarios Disponibles"
                    required
                  ></v-select>
                </v-col>
              </v-row>
            </v-container>
            <small>* Datos Obligatorios</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="blue darken-1"
              text
              @click="dialog = false"
            >Aceptar</v-btn>
            <v-btn
              color="blue darken-1"
              text
              @click="dialog = false"
            >Cerrar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-container>
</template>
<script>
export default {
  name: 'calendario_reservas',
  data: () => ({
    dialog: false,
    date: new Date().toISOString().substr(0, 10),
    done: [false, false, false],
    mouseMonth: null,
    valid: true,
    name: '',
    nameRules: [
      v => !!v || 'Nombre es obligatorio',
      v => (v && v.length <= 150) || 'El campo nombre es obligatorio',
    ],
    lastname: '',
    lastnameRules: [
      v => !!v || 'Apellido es Obligatorio',
      v => (v && v.length <= 150) || 'El campo apellido es obligatorio',
    ],
    email: '',
    emailRules: [
      v => !!v || 'E-mail es obligatorio',
      v => /.+@.+\..+/.test(v) || 'El email debe ser válido',
    ],
    select: null,
    items: ['08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00'],
  }),
  mounted () {
    if (sessionStorage.name) {
      this.name = sessionStorage.name;
    }
    if (sessionStorage.lastname) {
      this.lastname = sessionStorage.lastname;
    }
    if (sessionStorage.email) {
      this.email = sessionStorage.email;
    }
    if (sessionStorage.select) {
      this.select = sessionStorage.select;
    }
  },
  watch: {
    name (newName) {
      sessionStorage.name = newName;
    },
    lastname (newLastname) {
      sessionStorage.lastname = newLastname;
    },
    email (newEmail) {
      sessionStorage.email = newEmail;
    },
    select (newSelect) {
      sessionStorage.select = newSelect;
    }
  }
}
</script>