<template>
  <div>
    <v-toolbar
      flat
      color="transparent"
    >
      <v-btn icon>
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>

      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Buscar"
        single-line
      ></v-text-field>
    </v-toolbar>

    <v-card-text class="py-0">
      <v-chip
        v-for="(keyword, i) in keywords"
        :key="i"
        class="mr-2"
      >
        {{ keyword }}
      </v-chip>
    </v-card-text>

    <v-list three-line>
      <v-list-item
        v-for="(item, i) in searching"
        :key="i.id"
        @click="onClick"
        ripple
      >
        <v-img
          v-bind:src="'img/' + item.img"
          class="mr-4"
          max-width="64"
          min-width="64"
        ></v-img>

        <v-list-item-content>
          <span
            class="text-uppercase font-weight-regular caption"
            v-text="item.nombre"
          ></span>

          <v-list-item-title class="green--text">$ {{item.precio}} {{item.promo}}</v-list-item-title>
          <v-list-item-subtitle class="d-flex">
            <small class="primary--text">Cod: {{item.id}}</small>
            <small class="ml-auto red--text"> TurnosDisponibles: {{item.TurnosDisponibles}}</small>
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </div>
</template>
<script>
import datos from "../assets/datos.json";
export default {
  name: 'clientes',
  data: () => ({
    search: '',
  }),
  methods: {
    onClick () {
      // eslint-disable-next-line no-console
      console.log(['clientes.click()'])
      this.$emit('click')
      this.$router.push({ name: "Reservas_index" })
        .catch(() => { })
    }
  },
  computed: {
    keywords () {
      if (!this.search) return []

      const keywords = []

      for (const search of this.searching) {
        keywords.push(search.keyword)
      }

      return keywords
    },
    items () {
      return datos.map((item) => {
        return item;
      })
    },
    searching () {
      if (!this.search) return this.items

      const search = this.search.toLowerCase()

      return this.items.filter(item => {
        const text = item.nombre.toLowerCase()

        return text.indexOf(search) > -1
      })
    },
  },
}
</script>