<template>
  <v-container
    fluid
    class="my-8"
  >
    <div class="text-center">
      <v-sheet
        class="text-h5 ma-4"
        color="grey--text text--darken-1"
      >DESTACADOS</v-sheet>
    </div>
    <v-card>
      <v-row>
        <v-col
          xs="6"
          sm="4"
          md="4"
          lg="3"
          xl="2"
        >

          <v-card
            :loading="loading"
            class="mx-auto my-12"
            max-width="374"
          >
            <v-img
              height="250"
              src="https://buenavibra.es/wp-content/uploads/2017/05/barber%C3%ADas-2_opt.jpg"
            ></v-img>

            <v-card-title>Barbería Los Peludos</v-card-title>

            <v-card-text>
              <v-row
                align="center"
                class="mx-0"
              >
                <v-rating
                  :value="4.5"
                  color="amber"
                  dense
                  half-increments
                  readonly
                  size="14"
                ></v-rating>

                <div class="grey--text ml-4">4.5 (413)</div>
              </v-row>

              <div class="my-4 subtitle-1">
                $ • Barbería Clásica
              </div>

              <div>Los mejores cortes clásicos y modernos & Barbería.</div>
            </v-card-text>

            <v-divider class="mx-4"></v-divider>

            <v-card-title>Turnos Disponibles!</v-card-title>

            <v-card-text>
              <v-chip-group
                active-class="deep-purple accent-4 white--text"
                column
              >
                <v-chip>9:00AM</v-chip>

                <v-chip>10:00AM</v-chip>

                <v-chip>11:00AM</v-chip>

                <v-chip>12:00AM</v-chip>
              </v-chip-group>
            </v-card-text>

            <v-card-actions>
              <v-chip
                color="primary"
                text
                @click="onReservas"
              >
                Reservar
              </v-chip>
            </v-card-actions>
          </v-card>

        </v-col>
        <v-col>
          <v-card
            :loading="loading"
            class="mx-auto my-12"
            max-width="374"
          >
            <v-img
              height="250"
              src="https://www.ecestaticos.com/imagestatic/clipping/590/117/5901175eadd2dc1a5c9e9cd8d0b4532b/buen-o-mal-centro-de-belleza-las-claves-para-saber-si-has-acertado.jpg?mtime=1579565836"
            ></v-img>

            <v-card-title>Centro de Belleza GLAMOUR</v-card-title>

            <v-card-text>
              <v-row
                align="center"
                class="mx-0"
              >
                <v-rating
                  :value="4.5"
                  color="amber"
                  dense
                  half-increments
                  readonly
                  size="14"
                ></v-rating>

                <div class="grey--text ml-4">4.5 (413)</div>
              </v-row>

              <div class="my-4 subtitle-1">
                $ • Estilistas, SPA
              </div>

              <div>Centro de belleza y estética - Tu lugar en el mundo.</div>
            </v-card-text>

            <v-divider class="mx-4"></v-divider>

            <v-card-title>Turnos Disponibles!</v-card-title>

            <v-card-text>
              <v-chip-group
                active-class="deep-purple accent-4 white--text"
                column
              >
                <v-chip>17:30PM</v-chip>

                <v-chip>19:30PM</v-chip>

                <v-chip>20:00PM</v-chip>

                <v-chip>21:00PM</v-chip>
              </v-chip-group>
            </v-card-text>

            <v-card-actions>
              <v-chip
                color="primary"
                text
                @click="onReservas"
              >
                Reservar
              </v-chip>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col>
          <v-card
            :loading="loading"
            class="mx-auto my-12"
            max-width="374"
          >
            <v-img
              height="250"
              src="https://www.adelantado.com.ar/wp-content/uploads/2018/09/SAM_0191-2.jpg"
            ></v-img>

            <v-card-title>Fulbito - Fútbol 5</v-card-title>

            <v-card-text>
              <v-row
                align="center"
                class="mx-0"
              >
                <v-rating
                  :value="4.5"
                  color="amber"
                  dense
                  half-increments
                  readonly
                  size="14"
                ></v-rating>

                <div class="grey--text ml-4">4.5 (413)</div>
              </v-row>

              <div class="my-4 subtitle-1">
                $ • Canchas de Fútbol
              </div>

              <div>Canchas techadas y al aire libre.</div>
            </v-card-text>

            <v-divider class="mx-4"></v-divider>

            <v-card-title>Turnos Disponibles!</v-card-title>

            <v-card-text>
              <v-chip-group
                active-class="deep-purple accent-4 white--text"
                column
              >
                <v-chip>19:30PM</v-chip>

                <v-chip>20:30PM</v-chip>

                <v-chip>21:00PM</v-chip>

                <v-chip>22:00PM</v-chip>
              </v-chip-group>
            </v-card-text>

            <v-card-actions>
              <v-chip
                color="primary"
                text
                @click="onReservas"
              >
                Reservar
              </v-chip>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-card>

  </v-container>
</template>

<script>
export default {
  name: 'Destacados',
  data: () => ({
    loading: false,

  }),

  methods: {
    reserve () {
      this.loading = true

      setTimeout(() => (this.loading = false), 2000)


    },
    onReservas () {
      // eslint-disable-next-line no-console
      console.log(['onReservas()'])

      this.$router.push({ name: "Reservas_index" })
        .catch(() => { })
    }
  },
}
</script>

