<!--<template>
  <v-container fluid>
    <v-carousel>
      <v-carousel-item
        v-for="(item,i) in items"
        :key="i"
        :src="item.src"
        reverse-transition="fade"
        transition="fade"
      ></v-carousel-item>
    </v-carousel>

  </v-container>
</template>-->

<!--<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      items: [
        {
          src: 'https://almacorp.es/wp-content/uploads/2017/11/02-slide-mister-a-9.jpg',
        },
        {
          src: 'https://d20ga1agp72kf9.cloudfront.net/bewe/blog/2018-09-agenda-spa-programa-reservas-full.jpg',
        },
        {
          src: 'https://www.parkea.com.ar/wp-content/uploads/2014/06/noticias_futbol_5.jpg',
        },
        {
          src: 'https://www.toyotapanamericana.com/uploads/destacados/mobile/destacado_mb__turnos_online_768.jpg',
        },
      ],
      slides: [
        'First',
        'Second',
        'Third',
        'Fourth',
        'Fifth',
      ],
    }
  },
}
</script> -->
<!--
<style lang="scss" scoped>
.v-carousel {
  height: 440px !important;

  @media (max-width: 600px) {
    height: 280px !important;
  }
}
</style> -->

<template>
  <v-card
    class="mx-auto"
    align="center"
    flat
  >
    <v-img
      class="white--text align-end"
      height="130px"
      width="800px"
      src="../assets/back01.jpg"
    >
      <v-card-text class="custom-selector font-weight-bold black--text">

        Saca tu turno y olvidate de todo <br><br>¡Así de fácil!
      </v-card-text>
    </v-img>
    <v-container fluid>
      <v-col cols="12">
        <v-row align="center">
          <v-btn icon>
            <v-icon
              color="red"
              x-large
            >mdi-map-marker</v-icon>
          </v-btn>
          <v-autocomplete
            rounded
            outlined
            v-model="select"
            :loading="loading"
            :items="items"
            :search-input.sync="search"
            cache-items
            class="mx-auto"
            flat
            hide-no-data
            hide-details
            label="¿En que provincia te encuentras?"
            solo-inverted
          ></v-autocomplete>
        </v-row>
      </v-col>
    </v-container>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
      loading: false,
      items: [],
      search: null,
      select: null,
      states: [
        'Buenos Aires',
        'Catamarca',
        'Chaco',
        'Chubut',
        'Ciudad Autónoma de Buenos Aires',
        'Córdoba',
        'Corrientes',
        'Entre Ríos',
        'Formosa',
        'Jujuy',
        'La Pampa',
        'La Rioja',
        'Mendoza',
        'Neuquén',
        'Río Negro',
        'Salta',
        'Santiago del Estero',
        'San Luis',
        'San Juan',
        'Santa Cruz',
        'Santa Fe',
        'Tierra del Fuego',
        'Tucumán',
      ],
    }
  },
  watch: {
    search (val) {
      val && val !== this.select && this.querySelections(val)
    },
  },
  methods: {
    querySelections (v) {
      this.loading = true
      // Simulated ajax query
      setTimeout(() => {
        this.items = this.states.filter(e => {
          return (e || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
        })
        this.loading = false
      }, 500)
    },
  },
}
</script>


<style >
.custom-selector {
  font-size: 30px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
</style>