<template>
  <main>
    <v-container
      fluid
      :fullscreen="$vuetify.breakpoint.smAndDown"
    >
      <HelloWorld />
      <Destacados />
      <!-- <Nosotros /> -->

      <Parallax />

      <TimeLine />

      <!--  <staff />-->
      <v-divider color="dark"></v-divider>
      <v-divider color="dark"></v-divider>
      <v-divider color="dark"></v-divider>
      <v-divider color="dark"></v-divider>
      <v-footer
        dark
        padless
      >

        <v-card-text class=" white--text text-center">
          {{ new Date().getFullYear() }} — <strong>Gaston Viotti - JS - Coder House</strong>
        </v-card-text>

      </v-footer>

    </v-container>
  </main>
</template>

<script>

import Destacados from '@/components/Destacados';
//import Nosotros from '@/components/Nosotros';
import Parallax from '@/components/Parallax';
import TimeLine from '@/components/TimeLine';
//import Staff from '@/components/Staff';
import HelloWorld from '@/components/HelloWorld';
export default {
  name: 'inicio',

  components: {

    Destacados,
    // Nosotros,
    Parallax,
    TimeLine,
    // Staff,
    HelloWorld,
  },

  data: () => ({
    icons: [
      'mdi-facebook',
      'mdi-twitter',
      'mdi-linkedin',
      'mdi-instagram',
    ],
  }),

}
</script>