<template>
  <v-container fluid>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <v-card>
        <v-card-title>
          <v-img
            src="@/assets/logo.png"
            height="90"
            max-width="350"
            contain
            position="left"
          />
        </v-card-title>
        <v-card-text>
          <v-form v-model="valid">
            <v-container>
              <v-row>
                <v-col
                  cols="12"
                  sm="6"
                >
                  <v-text-field
                    v-model="firstname"
                    :rules="nameRules"
                    :counter="10"
                    label="Nombre"
                    required
                    outlined
                  ></v-text-field>
                </v-col>

                <v-col
                  cols="12"
                  sm="6"
                >
                  <v-text-field
                    v-model="lastname"
                    :rules="nameRules"
                    :counter="10"
                    label="Apellido"
                    required
                    outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="12"
                  sm="6"
                >
                  <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="E-mail"
                    required
                    outlined
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                >
                  <v-text-field
                    v-model="tel"
                    label="Teléfono"
                    required
                    outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="12"
                  sm="12"
                >
                  <v-text-field
                    v-model="emp"
                    :rules="empRules"
                    label="Nombre de tu negocio"
                    required
                    outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="12"
                  sm="6"
                >
                  <v-text-field
                    v-model="dir"
                    label="Dirección de tu negocio"
                    prepend-inner-icon="mdi-map-marker"
                    required
                    outlined
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                >
                  <v-select
                    v-model="loc"
                    :items="items"
                    label="Ciudad de tu negocio"
                    required
                    outlined
                    prepend-inner-icon="mdi-map-marker"
                  ></v-select>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small>* Datos Obligatorios</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="persist()"
          >Enviar</v-btn>
          <v-btn
            color="blue darken-1"
            text
            to="/"
          >Cerrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
export default {
  name: 'login-soc',
  data: () => ({
    items: ['Buenos Aires',
      'Catamarca',
      'Chaco',
      'Chubut',
      'Ciudad Autónoma de Buenos Aires',
      'Córdoba',
      'Corrientes',
      'Entre Ríos',
      'Formosa',
      'Jujuy',
      'La Pampa',
      'La Rioja',
      'Mendoza',
      'Neuquén',
      'Río Negro',
      'Salta',
      'Santiago del Estero',
      'San Luis',
      'San Juan',
      'Santa Cruz',
      'Santa Fe',
      'Tierra del Fuego',
      'Tucumán'],
    dialog: true,
    valid: false,
    firstname: '',
    lastname: '',
    nameRules: [
      v => !!v || 'Nombre Obligatorio',
      v => v.length <= 150 || 'Debe contener al menos 10 caracteres',
    ],
    email: '',
    emailRules: [
      v => !!v || 'Nombre es Obligatorio',
      v => /.+@.+/.test(v) || 'E-mail debe ser una cuenta válida',
    ],
    emp: '',
    empRules: [
      v => !!v || 'Campo Requerido',
      v => v.length <= 150 || 'Debe contener un nombre',
    ],
    tel: '',
    dir: '',
    loc: '',
  }),
  mounted () {
    if (localStorage.firstname) {
      this.firstname = localStorage.firstname;
    }
    if (localStorage.lastname) {
      this.lastname = localStorage.lastname;
    }
    if (localStorage.email) {
      this.email = localStorage.email;
    }
    if (localStorage.emp) {
      this.emp = localStorage.emp;
    }
    if (localStorage.tel) {
      this.tel = localStorage.tel;
    }
    if (localStorage.dir) {
      this.dir = localStorage.dir;
    }
    if (localStorage.loc) {
      this.loc = localStorage.loc;
    }
  },
  methods: {
    persist () {
      localStorage.firstname = this.firstname;
      localStorage.lastname = this.lastname;
      localStorage.email = this.email;
      localStorage.emp = this.emp;
      localStorage.tel = this.tel;
      localStorage.dir = this.dir;
      localStorage.loc = this.loc;
      console.log('Todo guardado en localStorage');
    }
  }
}
</script>