<template>
  <div>
    <v-btn
      color="blue darken-1"
      rounded
      text
      @click="logInWithFacebook"
    >
      <v-icon>mdi-facebook</v-icon> Iniciar con Facebook!
    </v-btn>
  </div>
</template>
<script>
export default {
  name: "login-face",
  methods: {
    async logInWithFacebook () {
      await this.loadFacebookSDK(document, "script", "facebook-jssdk");
      await this.initFacebook();
      window.FB.login(function (response) {
        if (response.authResponse) {
          alert("La sesión ya existe!");
          // Now you can redirect the user or do an AJAX request to
          // a PHP script that grabs the signed request from the cookie.
        } else {
          alert("El usuario canceló el inicio de sesión o no lo autorizó por completo.");
        }
      });
      return false;
    },
    async initFacebook () {
      window.fbAsyncInit = function () {
        window.FB.init({
          appId: "2660617937538999",
          cookie: true,
          version: "v13.0"
        });
      };
    },
    async loadFacebookSDK (d, s, id) {
      var js,
        fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }
  }
};
</script>