<template>
  <v-app id="inspire">
    <v-main>
      <v-container>
        <v-row justify="center">
          <v-col
            cols="12"
            md="5"
          >
            <v-card>
              <v-toolbar
                color="green"
                dark
              >
                <v-btn
                  icon
                  to="/"
                >
                  <v-icon>mdi-arrow-left</v-icon>

                </v-btn>

                <v-toolbar-title> Iniciar Sesión</v-toolbar-title>
              </v-toolbar>
              <v-spacer></v-spacer>
              <v-tooltip bottom>
              </v-tooltip>

              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Login"
                    name="login"
                    prepend-icon="mdi-account"
                    type="text"
                  ></v-text-field>

                  <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="primary"
                  rounded
                >Ingresar</v-btn>
                <loginFace />
              </v-card-actions>

            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>


<script>
import loginFace from "@/components/login-face"
export default {
  name: 'luser',
  components: {
    loginFace,

  },
  props: {
    user: { default: '' },
    userDes: { type: String, default: 'userDes1' },
  },

}
</script>