<template>
  <v-container
    fluid
    class="my-8"
  >
    <v-card class="d-inline-block mx-auto">
      <v-row justify="space-between">
        <v-col cols="2">
          <v-img src="@/assets/servi.png"></v-img>
        </v-col>

        <v-col class="text-center pl-0">

          <v-col class="px-0">

            <v-card-text class="text--primary">
              <div>Nuestra idea surge luego de que la pandemia mundial Covid-19, modificara las costumbres y estilos de vida cotidiano.
                Por ello decidimos crear TuTurno. Para que puedas seguir visitando todos los lugares que te interesan, reservando desde tu casa.</div>
            </v-card-text>
          </v-col>
        </v-col>
      </v-row>

    </v-card>
  </v-container>

</template>

<script>
export default {
  name: 'Nosotros',
  data () {
    return {
      items: [
        {
          src: 'https://vw.grupodietrich.com/wp-content/uploads/sites/2/2016/09/banner-voyage-889x500.jpg',
        },
        {
          src: 'https://www.infoauto.com.ar/files/system/cms/files/files/77182/original/Toyota_Corolla_Hybrid-portada00.jpg',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
        },
      ],
      slides: [
        'First',
        'Second',
        'Third',
        'Fourth',
        'Fifth',
      ],
    }
  },
}
</script>
<style lang="scss" scoped>
.v-carousel {
  height: 440px !important;

  @media (max-width: 600px) {
    height: 280px !important;
  }
}
</style>