<template>
  <v-container>
    <v-btn
      icon
      to="/clientes"
      color="green"
    >
      <v-icon>mdi-arrow-left</v-icon>

    </v-btn>
    <calendario_reservas />
  </v-container>
</template>
<script>
import calendario_reservas from '@/components/calendario_reservas';
export default {
  name: 'Reservas_index',
  components: {
    calendario_reservas,

  },
  data: () => ({
  }),
}
</script>