<template>
  <v-container
    fluid
    class="my-8"
  >

    <div class="text-center text-decoration-underline">
      <v-sheet
        class="text-h5 ma-4"
        color="grey--text text--darken-1"
      >STAFF</v-sheet>
    </div>
    <v-card
      class="mx-auto"
      max-width="434"
      tile
    >
      <v-img
        height="100%"
        src="https://www.maximaonline.com.ar/multimedia/noticias/img_30298_programhtml.jpg"
      >
        <v-row
          align="end"
          class="fill-height"
        >
          <v-col class="py-0">
            <v-list-item
              color="rgba(0, 0, 0, .4)"
              dark
            >
              <v-list-item-content>
                <v-list-item-title class="title">Gastón Alejandro Viotti</v-list-item-title>
                <v-list-item-subtitle>Desarrollador</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>

          </v-col>

        </v-row>
      </v-img>
    </v-card>

  </v-container>
</template>

<script>
export default {
  name: 'Staff',
  data () {
    return {
      items: [
        {
          src: 'https://vw.grupodietrich.com/wp-content/uploads/sites/2/2016/09/banner-voyage-889x500.jpg',
        },
        {
          src: 'https://www.infoauto.com.ar/files/system/cms/files/files/77182/original/Toyota_Corolla_Hybrid-portada00.jpg',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
        },
      ],
      slides: [
        'First',
        'Second',
        'Third',
        'Fourth',
        'Fifth',
      ],
    }
  },
}
</script>
<style lang="scss" scoped>
.v-carousel {
  height: 440px !important;

  @media (max-width: 600px) {
    height: 280px !important;
  }
}
</style>