<template>
  <v-timeline :dense="$vuetify.breakpoint.smAndDown">
    <v-timeline-item
      color="purple lighten-2"
      fill-dot
      right
    >
      <v-card>
        <v-card-title class="purple lighten-2">
          <v-icon
            dark
            size="42"
            class="mr-4"
          >
            mdi-calendar-search
          </v-icon>
          <h2 class="display-1 white--text font-weight-light">RESERVAS DE TURNOS</h2>
        </v-card-title>
        <v-container>
          <v-row>
            <v-col
              cols="12"
              md="10"
            >
              Podes elegir el lugar que quieras. Reservá tu turno que nosotros hacemos el resto.
            </v-col>
            <v-col
              class="hidden-sm-and-down text-right"
              md="2"
            >
              <v-icon size="64">mdi-calendar-text</v-icon>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-timeline-item>

    <v-timeline-item
      color="amber lighten-1"
      fill-dot
      left
      small
    >
      <v-card>
        <v-card-title class="amber lighten-1 justify-end">
          <h2 class="display-1 mr-4 white--text font-weight-light">POST-RESERVA</h2>
          <v-icon
            dark
            size="42"
          >mdi-calendar-question</v-icon>
        </v-card-title>
        <v-container>
          <v-row>
            <v-col
              class="hidden-sm-and-down text-right"
              md="2"
            >
              <v-icon size="64">mdi-calendar-text</v-icon>
            </v-col>
            <v-col
              cols="12"
              md="8"
            >
              Desde principio a fin estarás acompañado por nuestros personal.
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-timeline-item>

    <v-timeline-item
      color="cyan lighten-1"
      fill-dot
      right
    >
      <v-card>
        <v-card-title class="cyan lighten-1">
          <v-icon
            class="mr-4"
            dark
            size="42"
          >
            mdi-email-outline
          </v-icon>
          <h2 class="display-1 white--text font-weight-light">GARANTIA</h2>
        </v-card-title>
        <v-container>
          <v-row>

            <v-col
              cols="12"
              md="10"
            >
              Brindamos la garantia necesaria al utilizar nuestro servicio.
            </v-col>
            <v-col
              class="hidden-sm-and-down text-right"
              md="2"
            >
              <v-icon size="64">mdi-calendar-text</v-icon>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-timeline-item>

    <v-timeline-item
      color="red lighten-1"
      fill-dot
      left
      small
    >
      <v-card>
        <v-card-title class="red lighten-1 justify-end">
          <h2 class="display-1 mr-4 white--text font-weight-light">VISITAS PACTADAS</h2>
          <v-icon
            dark
            size="42"
          >
            mdi-calendar-multiple-check
          </v-icon>
        </v-card-title>
        <v-container>
          <v-row>
            <v-col
              class="hidden-sm-and-down"
              md="2"
            >
              <v-icon size="64">mdi-calendar-text</v-icon>
            </v-col>
            <v-col
              cols="12"
              md="10"
            >
              Recordá que una visita pactada es un compromiso asumido. La puntualidad es la cortesía de los reyes.
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-timeline-item>
  </v-timeline>
</template>

<script>
export default {
  name: 'TimeLine',
  data () {
    return {
      items: [
        {
          src: 'https://vw.grupodietrich.com/wp-content/uploads/sites/2/2016/09/banner-voyage-889x500.jpg',
        },
        {
          src: 'https://www.infoauto.com.ar/files/system/cms/files/files/77182/original/Toyota_Corolla_Hybrid-portada00.jpg',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
        },
      ],
      slides: [
        'First',
        'Second',
        'Third',
        'Fourth',
        'Fifth',
      ],
    }
  },
}
</script>
<style lang="scss" scoped>
.v-carousel {
  height: 440px !important;

  @media (max-width: 600px) {
    height: 280px !important;
  }
}
</style>