<template>
  <div class="d-flex align-center">
    <v-text-field
      dense
      rounded
      flat
      solo-inverted
      hide-details
      clearable
      prepend-inner-icon="mdi-magnify"
      label="Buscar turno"
      v-model="search"
      @change="onSearch"
    ></v-text-field>

  </div>

</template>

<script>
export default {
  name: 'tsearch',
  data () {
    return {
      search: ''
    }
  },
  methods: {
    onSearch () {
      const query = { search: this.search }

      // eslint-disable-next-line no-console
      console.log(['onSearch()'])
      this.$router.push({ name: "clientes", query })
        .catch(() => { })
    }
  }
}
</script>

