<template>
  <v-app>
    <barinicio />
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>

</template>

<script>
import barinicio from './components/barinicio';

export default {
  name: 'App',

  components: {
    barinicio,

  },

  data: () => ({
    icons: [
      'mdi-facebook',
      'mdi-twitter',
      'mdi-linkedin',
      'mdi-instagram',
    ],
  }),
}
</script>